---

name: GitHub Actions Demo

on:
  workflow_dispatch:
    inputs:
      prefixes:
        type: string
        description: List of prefixes to match
        required: true

      refBranch:
        type: string
        description: branch to use for the template
        required: true

  pull_request:
    types: [opened, reopened]

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo Hello from Octo Organization
        
      - run: npm install @octokit/action
      - run: npm install @actions/github
      - run: npm install @actions/core  
      # Run the local action code
      - uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          prefixes: ${{ github.event.inputs.prefixes }}
          refBranch: ${{ github.event.inputs.refBranch }}